html,
body {
  margin: 0px;
  padding: 0px;
}

* {
  white-space: nowrap;
}

.header {
  background-color: aqua;
}

@media screen and (max-width: 320px) {
  .header {
    background-color: #fff;
    border: 1px solid black;
  }
}

@media screen and (max-width: 320px) {
  .header-input {
    background-color: #fff;
    border: none;
  }
}

.header_wrapper {
  width: 95%;
  margin: 0 auto;
}

@media screen and (max-width: 320px) {
  .header_wrapper {
    width: 100%;
  }
}

.wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
}

@media screen and (max-width: 320px) {
  .wrapper {
    gap: 0px;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.header-left {
  display: flex;
  gap: 20px;
}

.header-left {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .header-left {
    display: block;
    width: 50%;
    height: 80px;
    border-right: 1px solid black;
  }
}

@media screen and (max-width: 320px) {
  .header-input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .header-input::after {
    content: "↓";
  }
}

.nav_wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 834px) {
  .nav_wrapper {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 320px) {
  .nav_wrapper {
    flex-direction: column;
    gap: 30px;
    flex-wrap: nowrap;
    padding-left: 20px;
  }
}

@media screen and (max-width: 320px) {
  nav {
    height: 0;
    width: 100vw;
    overflow: hidden;
    transition: all ease-in-out;
  }

  #check:checked ~ nav {
    border: 1px solid black;
    width: 100vw;
    height: auto;
    transition: all ease-in-out;
  }
}

@media screen and (max-width: 320px) {
  .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: none;
    width: 50%;
    height: 80px;
    padding: 0;
  }
}

.sort {
  padding: 5px;
  background-color: #fff;
  border: 1px solid black;
}

@media screen and (max-width: 320px) {
  .sort {
    background-color: #fff;
    border: none;
    padding: 0;
  }
}
